data/**/*
!data/**/
!data/**/.gitkeep
.vscode
autodrive
models/*
!models/.gitkeep
Depth-Anything-V2
Depth-Anything-V2/checkpoints/*
dataset
epoch_visualizations/*
**/__pycache__
CLAUDE.md
visualizations/*
!visualizations/poster.png
wandb
rl_checkpoints/*
logs/
Autonomous-Driving-RL/models/*
Autonomous-Driving-RL/rl/rl_train.log
Autonomous-Driving-RL/rl_train.log