data/**/*
!data/**/
!data/**/.gitkeep
.vscode
autodrive
models/*
!models/.gitkeep
Depth-Anything-V2
Depth-Anything-V2/checkpoints/*
dataset
epoch_visualizations/*
**/__pycache__
CLAUDE.md
visualizations/*
wandb
rl_checkpoints/*